<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reset password</title>
</head>
<body>
    <form method="POST" class="p-4 rounded shadow-sm border bg-light" style="max-width: 400px; margin: auto;">
    <h4 class="mb-3 text-center">Reset Password</h4>

    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
  </form>

</body>
</html>